<div *ngFor="let weather of getData; let i = index">
  <div *ngIf="i === 0">

    <!-- current weather -->
    <div class="row">
      <div class="col-sm-6">
        <img src="{{ weather.current[0].icon }}" class="a-curWeatherIcon animate fadeInUp one" />
      </div>
      <div class="col-sm-6">
        <span class="a-lrgTemp animate fadeInDown two">{{ weather.current[0].main }}&deg;</span>
        <span class="a-frCast animate fadeInLeft three">
          {{ weather.current[0].description }}<br>
          {{ weather.current[0].high }}&deg;/{{ weather.current[0].low }}&deg;</span>
      </div>
    </div>

    <!-- search -->
    <div class="row a-search animate fadeInUp one">
      <div class="col-xs-12 col-sm-12 col-lg-6">
        <span class="a-cityText">{{ weather.name }}</span>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-6">
        <mat-form-field class="m-mtFormField">
          <input class="m-mtFormField__matInputElement" matInput autocomplete="off" [(ngModel)]="selectedValue"
            [typeahead]="getCities" typeaheadOptionField="name" (typeaheadOnSelect)="onSelect($event)"
            placeholder="">
        </mat-form-field>
      </div>
    </div>

    <!-- forecast -->
    <div class="row seven-cols">
      <div class="col-xs-12 col-sm-12 col-lg-1 a-days animate fadeInLeft four" *ngFor="let days of weather.upcoming; let i = index">
        {{ days.day }}
        <img src="{{ days.icon }}" />
        {{ days.temp }}&deg;
      </div>
    </div>

  </div>
</div>
