.cardBImg {
  display: block;
  width: 100%;
}
.bttmNav {
  background-color: #3bbec0;
  height: 60px;
}
.leftArrow {
  width: 63px;
  height: 60px;
  position: absolute;
  left: 0px;
  border-right: 1px solid #60cacc;
  background: url('./../../assets/left-arrow.png') no-repeat 20px 20px;
}
.center {
  width: 120px;
  height: 60px;
  position: absolute;
  left: 50%;
  margin-left: -60px;
  background: url('./../../assets/center-nav.png') no-repeat center 25px;
}
.rightArrow {
  width: 63px;
  height: 60px;
  position: absolute;
  right: 0px;
  border-left: 1px solid #60cacc;
  background: url('./../../assets/right-arrow.png') no-repeat 20px 20px;
}