/* -- Reset -- */
.mat-card {
  border-radius: 0px;
  box-shadow: 0 !important;
  background-color: #3bbec0;
  color: #fff;
}
.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 0px 0px 0px;
}

/* -- Global -- */
.container {
  margin-top: 100px;
  width: 1025px;
}
.cardA {
  padding-bottom: 0;
}
.cardB {
  padding: 0;
}

/* -- MQs -- */
@media (min-width: 1200px) {
  .container {
    width: 1025px;
  }
}
