<div class="container o-wrapper">
  <div class="row">

    <div class="col-sm-12 col-md-6">
      <!-- Left Card -->
      <mat-card [@cardA]="cardA" class="o-wrapper__cardA">
        <app-weather [getData]="getData" [getCities]="getCities" (selectedCity)='getCityUrl($event)'></app-weather>
      </mat-card>
    </div>

    <div class="col-sm-12 col-md-6">
      <!-- Right Card -->
      <mat-card [@cardB]="cardB" class="o-wrapper__cardB">
        <app-gallery [city]="city"></app-gallery>
      </mat-card>
    </div>

  </div>
</div>
